            
            <!-- site footer -->
            <footer class="site-footer bg-ad-11">
                <div class="container">
                    <div class="row footer-top-wrap additional-content-wrap">
                        <div class="col col-3 col-md-6 col-sm-6 col-xs-12 footer-menu-wrap additional-content-block max-w-240px">
                            <h5 class="title p">Menu</h5>
                            <ul class="footer-menu content-wrap list-style-none">
                                <li>
                                    <a href="#">New Products</a>
                                </li>
                                <li>
                                    <a href="#">Categories</a>
                                </li>
                                <li>
                                    <a href="#">Brands</a>
                                </li>
                                <li>
                                    <a href="#">Christmas</a>
                                </li>
                                <li>
                                    <a href="#">Delivery & Returns</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-3 col-md-6 col-sm-6 col-xs-12 additional-content-block flex-t-column max-w-240px">
                            <h5 class="title p">Get in touch</h5>
                            <ul class="contacts-menu content-wrap list-style-none flex-t-column flex-grow">
                                <li>
                                    <p class="address">8 Walker Street<br>Edinburgh<br>EH3 7LH</p>
                                </li>
                                <li class="m-t-auto">
                                    <a class="phone" href="tel:01313464781">0131 346 4781</a>
                                </li>
                                <li>
                                    <a class="email" href="mailto:info@gearclothing.co.uk">info@gearclothing.co.uk</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-5 col-md-12 col-sm-12 col-xs-12 newsletter-wrap additional-content-block flex-t-column max-w-400px">
                            <h5 class="title p">Newsletter</h5>
                            <form class="newsletter-form content-wrap w-100 flex flex-nowrap" id="newsletter-form">
                                <input class="input newsletter-input p w-100" id="newsletter-input" type="email" placeholder="Enter your email address" value="">
                                <button class="newsletter-submit h5 all-caps flex-c" id="newsletter-submit" type="submit">Submit</button>
                            </form>
                            <div class="payment-wrap m-t-auto">
                                <ul class="payment-list list-style-none flex">
                                    <li>
                                        <img src="${require('./img/visa.png')}">
                                    </li>
                                    <li>
                                        <img src="${require('./img/paypal.png')}">
                                    </li>
                                    <li>
                                        <img src="${require('./img/master.png')}">
                                    </li>
                                    <li>
                                        <img src="${require('./img/amex.png')}">
                                    </li>
                                    <li>
                                        <img src="${require('./img/solo.png')}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="relative footer-bottom-wrap">
                        <div class="border-top w-100"></div>
                        <div class="row flex-nowrap">
                            <div class="col">
                                <h5 class="p ls-005 copyrights c-white nowrap">© 2013 Gear</h5> 
                            </div>
                            <div class="col flex-grow flex-x-r">
                                <h5 class="p ls-005 developer c-white">Website Design by MTC</h5> 
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /site footer -->

        </div>
        <!-- /site wrap -->

        <!-- Place for your manually added scripts, for example google maps -->
    </body>
</html>