/* Site header and footer */

// Site Header
.site-header {
  z-index: 200;
  .top-block {
		padding-top: 12px;
		padding-bottom: 12px;
  }
  .logo-block {
		padding-top: 56px;
		padding-bottom: 44px;
		.site-logo-wrap {
			padding-top: 2px;
			padding-right: 2px;
		}
  }
  .main-menu-block {
  	.main-menu-wrap {
  		max-width: calc(100% - 380px - 10px * 2);
  	}
  }
}
.mobile-menu-icon {
  padding: 8px;
  margin-right: -8px;
  margin-left: -8px;
  .inner {
    position: relative;
    width: 20px;
    height: 16px;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .2s ease-in-out;
    background-color: $c_default;
    &:nth-of-type(1) {
      top: 0
    }
    &:nth-of-type(4) {
      top: 14px
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      top: 7px
    }
  }
}
.mobile-menu-icon.jsa-open {
  .inner {
    &:before,
    &:after {
      opacity: 0 !important;
    }
  }
  span {
    &:nth-of-type(1),
    &:nth-of-type(4) {
      opacity: 0;
      transform: translate(0, 8px) scale(.1)
    }
    &:nth-of-type(2) {
      transform: rotate(45deg)
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg)
    }
  }
}
.header-links {
	.header-link {
		margin-right: 22px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.social-links {
	margin-left: 35px;
	.social-link {
		position: relative;
		width: 35px;
		height: 35px;
		border-radius: 50%; 
		margin-right: 10px;
		background-color: $c_ad_4;
		&:last-child {
			margin-right: 0;
		}
		&>span {
			@extend .block-c;
			font-size: 22px;
			color: $c_white;
		}
		&:hover {
			background-color: $c_light;
		}
	}
}
.main-menu {
	margin-right: -10px;
	margin-left: -10px;
	&>li {
		width: auto;
		&>a {
			height: 60px;
			padding: 8px 10px;
			text-transform: uppercase;
			color: $c_ad_4;
			&:hover {
				color: $c_light !important;
			}
		}
	}
}

.search-form {
	width: 380px;
	.search-input {
		border: 1px solid $c_ad_1;
		border-width: 1px 0 1px 1px;
	}
	.search-submit {
		position: relative;
		width: 50px;
		min-width: 50px;
		height: 40px;
		color: $c_white;
		background-color: $c_ad_4;
		cursor: pointer;
		z-index: 2;
		&:hover {
			background-color: $c_light;
		}
	}
}
.hide-under-search {
	transition: opacity 0.15s ease-in-out;
}

@media(max-width: $bp_lg) {
	.top-block {
		position: relative;
		box-shadow: $box_shadow;
		z-index: 2;
		&>.container>.row {
			position: relative;
		}
	}
	.top-block-search-wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: max-width .15s ease-in-out, width .15s ease-in-out;
		z-index: 99;
		&,
		.search-form {
			transition: max-width .15s ease-in-out, width .15s ease-in-out;
		}
		.search-form {
			max-width: 30px;
			.search-submit {
				width: 30px;
				min-width: 30px;
				transition: max-width .15s ease-in-out, width .15s ease-in-out;
			}
		}
		.search-input {
			position: fixed;
			opacity: 0;
		}
		.search-submit {
			background-color: $c_transparent !important;
			.icon-search {
				color: $c_ad_4 !important;
			}
		}
	}
	.jsa-searchform-active {
		.hide-under-search {
			opacity: 0;
		}
		.top-block-search-wrap {
			width: 100%;
			max-width: 100%;
			.search-form {
				width: 100%;
				max-width: 100%;
				.search-submit {
					width: 50px;
					min-width: 50px;
				}
			}
			.search-input {
				position: relative;
				opacity: 1;
				transition: opacity .15s ease-in-out;
			}
			.search-submit {
				background-color: $c_light !important;
				.icon-search {
					color: $c_white !important;
				}
			}
		}
	}
	.top-block-logo-wrap .site-logo {
		padding-left: 30px; 
	}
	.site-header {
		position: fixed;
		top: 0;
		right: 0;
		bottom: auto;
		left: 0;
		width: 100%;
		background-color: $c_white;
	}
	.site-wrap {
		padding-top: 75px;
	}
	.mobile-menu-wrap {
		position: absolute;
		width: 100%;
		height: calc(100vh - 75px);
		background-color: $c_white;
		overflow-x: hidden;
		&>.container {
			padding-top: 20px;
			padding-bottom: calc(100px + 30px);
		}
		.submenu-wrap {
			width: 100vw;
			padding: 20px 30px 30px;
			margin-bottom: 8px;
		}
		.menu-item-has-children.jsa-submenu-open .submenu-wrap,
		.menu-item-has-children .submenu-wrap:hover {
			position: relative;
			top: auto;
			right: auto;
			bottom: auto;
			left: -20px;
			opacity: 1;
			pointer-events: auto;
		}
	}
	.mm-main-menu-wrap {
		.main-menu {
			flex-wrap: wrap;
			width: 100%;
			/*margin-right: 0;
			margin-left: 0;*/
			&>li {
				display: list-item;
				width: 100%;
				&>a {
					display: inline-block;
					height: auto;
					/*padding-right: 0;
					padding-left: 0;*/
				}
			}
		}
	}
	.mm-additional-wrap {
		&>.enquiries-email {
			padding-top: 16px !important;
			margin-top: 8px;
  		border-top: 1px solid $c_ad_1;
		}
		a,
		.enquiries-email {
			width: 100%;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		.social-links {
			margin-top: 8px;
			margin-left: 0;
			padding-top: 16px;
  		border-top: 1px solid $c_ad_1;
		}
		.header-links,
		.social-links {
			flex-wrap: wrap;
		}
		.header-link {
			margin-right: 0 !important;
		}
	}
}

@media(max-width: $bp_md) {
	body {
		.site-wrap {
			padding-top: 65px;
		}
		.mobile-menu-wrap {
			height: calc(100vh - 65px);
		}
		.top-block-logo-wrap .site-logo {
			height: 40px !important; 
		}
	}
}

@media(max-width: $bp_sm) {
	html body {
		.site-wrap {
			padding-top: 60px;
		}
		.mobile-menu-wrap {
			height: calc(100vh - 60px);
			.menu-item-has-children.jsa-submenu-open .submenu-wrap,
			.menu-item-has-children .submenu-wrap:hover {
				left: -10px;
				width: 100vw;
				padding: 20px 20px 20px;
				opacity: 1;
				pointer-events: auto;
			}			
		}
		.top-block-logo-wrap .site-logo {
			height: 35px !important; 
		}
	}
}

.submenu-wrap {
	@extend .visually-hidden;
	z-index: 100;
	padding: 34px 38px 42px 38px;
}

@media(min-width: $bp_lg + 1) {
	.menu-item-has-children {
		&>a:hover ~ .submenu-wrap,
		.submenu-wrap:hover {
	    opacity: 1;
	    pointer-events: auto;  
			position: absolute;
			top: 100%;
			right: 0;
			bottom: auto;
			left: 0;
		}
	}
}

.additional-content-wrap {
	margin-top: -15px;
	margin-bottom: -15px;
	.additional-content-block {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.additional-content-block {
	a:hover {
		color: $c_white !important;
	}
	a,
	li>p {
		line-height: 1.5;
		letter-spacing: 0.04em;
		color: $c_ad_6;
	}
	.title {
		text-transform: uppercase;
		text-decoration: underline;
		color: $c_white;
	}
	.title {
		margin-bottom: 23px;
	}
}
.mobile-menu-wrap {
	display: none;
}

@media(max-width: $bp_lg) {
	.site-header {
	  .top-block {
	  	background-color: $c_transparent;
  		border-bottom: 1px solid $c_ad_1;
  		.top-block-logo-wrap {
  			.site-logo {
  				height: 50px;
  			}
  		}
	  }
	}
	.additional-content-block {
		.title {
			margin-bottom: 15px;
		}
	}
}

@media(max-width: $bp_sm) {
	body .additional-content-block {
		.title:empty {
			margin-bottom: 0;
		}
	}
}

.site-header {
	transform: translateY(0);
	transition: transform .25s ease-in-out, background-color .25s ease-in-out;
}

@media(max-width: $bp_lg) {
	.not--top.not--top-down .site-header {
		transform: translateY(-110%);
	}
}

// Site Footer
.site-footer {
	padding-top: 48px;
	padding-bottom: 48px;
}
.footer-bottom-wrap {
	margin-top: 43px;
	&>.row {
		padding-top: 18px;
	}
}
.newsletter-wrap {
	margin-left: auto;
}
.newsletter-form {
	padding-top: 5px;
	.newsletter-submit {
		width: 80px;
		min-width: 80px;
		height: 40px;
		padding: 8px 10px;
		color: $c_white;
		background-color: $c_ad_4;
		cursor: pointer;
		&:hover {
			background-color: $c_light;
		}
	}
}
.payment-list {
	padding-bottom: 2px;
	margin-top: 23px;
	&>li {
		width: 45px;
		max-width: 45px;
		margin-right: 4px;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media(max-width: $bp_lg) {
	.newsletter-wrap {
		margin-left: 0;
	}
}

@media(max-width: $bp_md) {
	.site-footer {
		padding-top: 35px;
		padding-bottom: 18px;
	}
}