/*! custom theme styles
*   style.scss v1.0.0  */

// Infopage

	// Variables
		// Grid
			// Site width ( max width of site content )
			$site_width: 940px;

			// Breakpoints ( viewport widths that serve as breakpoints for style and layout changes )
$breakpoints: (
	xl: 1360px,
	lg: 992px,
	md: 768px,
	sm: 480px,
	xs: 0
);

			// Breakpoints turned to variables for more simple use in your custom media queries
			// Pay attention that breakpoints have 1px subtracted from them to fit the use of desktop first applications
$bp_xl: map-get($breakpoints, xl) - 1;
$bp_lg: map-get($breakpoints, lg) - 1;
$bp_md: map-get($breakpoints, md) - 1;
$bp_sm: map-get($breakpoints, sm) - 1;

			// Gutters ( site paddins (left and right) ) that can be changed according to breakpoints
$gutters: (
	xl: 30px,
	lg: 30px,
	md: 30px,
	sm: 30px,
	xs: 20px
);

			// Column paddings ( left and right ) that can be changed according to breakpoints
$col_paddings: (
	xl: 10px,
	lg: 10px,
	md: 10px,
	sm: 10px,
	xs: 10px
);

	// Colors
$c_default: #3d3d3d;
$c_light: #696868;
$c_ad_1: #d9d9d9;
$c_ad_2: #8c8c8c;
$c_ad_3: #dcdddb;
$c_ad_4: #3d3c3c;
$c_ad_5: #6a6a6a;
$c_ad_6: #c5c5c5;
$c_ad_7: #a0a0a0;
$c_ad_8: #454545;
$c_ad_9: #527286;
$c_ad_10: #745238;
$c_ad_11: #464646;
$c_ad_12: #848383;
$c_black: #000;
$c_white: #fff;
$c_transparent: transparent;

		// Color an background-color classes for custom use
body {
	.c-default { color: $c_default; }
	.c-light { color: $c_light; }
	.c-ad-1 { color: $c_ad_1; }
	.c-ad-2 { color: $c_ad_2; }
	.c-ad-3 { color: $c_ad_3; }
	.c-ad-4 { color: $c_ad_4; }
	.c-ad-5 { color: $c_ad_5; }
	.c-ad-6 { color: $c_ad_6; }
	.c-ad-7 { color: $c_ad_7; }
	.c-ad-8 { color: $c_ad_8; }
	.c-ad-9 { color: $c_ad_9; }
	.c-ad-10 { color: $c_ad_10; }
	.c-ad-11 { color: $c_ad_11; }
	.c-ad-12 { color: $c_ad_12; }
	.c-black { color: $c_black; }
	.c-white { color: $c_white; }
	.c-transparent { color: $c_transparent; }
	.c-on-dark { color: $c_white!important; }

	.bg-default { background-color: $c_default; }
	.bg-light { background-color: $c_light; }
	.bg-ad-1 { background-color: $c_ad_1; }
	.bg-ad-2 { background-color: $c_ad_2; }
	.bg-ad-3 { background-color: $c_ad_3; }
	.bg-ad-4 { background-color: $c_ad_4; }
	.bg-ad-5 { background-color: $c_ad_5; }
	.bg-ad-6 { background-color: $c_ad_6; }
	.bg-ad-7 { background-color: $c_ad_7; }
	.bg-ad-8 { background-color: $c_ad_8; }
	.bg-ad-9 { background-color: $c_ad_9; }
	.bg-ad-10 { background-color: $c_ad_10; }
	.bg-ad-11 { background-color: $c_ad_11; }
	.bg-ad-12 { background-color: $c_ad_12; }
	.bg-black { background-color: $c_black; }
	.bg-white { background-color: $c_white; }
	.bg-transparent { background-color: $c_transparent; }
}

	// Others ( add all values that you think should be variables )
$box_shadow: 0px 1px 4px 0px rgba(0,0,0,.3);

// Import Styles ( comment out any partial of framework that does not fit your needs )
	// Framework
@import 'framework/framework_resets';
@import 'framework/framework_grid';
@import 'framework/framework_layout';
@import 'framework/framework_page';
@import 'framework/framework_visual';
@import 'framework/framework_print';

	// Theme
@import 'typography';
@import 'site-content';
@import 'header-footer';